<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th (click)="sort('firstName')">First Name</th>
                            <th (click)="sort('lastName')">Last Name</th>
                            <th (click)="sort('address')">Address</th>
                            <th (click)="sort('city')">City</th>
                            <th (click)="sort('state.name')">State</th>
                            <th (click)="sort('orderTotal')">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="images/{{ customer.gender | lowercase }}.png"
                                    class="card-image" alt="Customer Image" /></td>
                            <td><a [routerLink]="['/customers',customer._id]"></a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!customers.length">
                            <td>&nbsp;</td>
                            <td colspan="6">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
